* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-nav-link--current {
  color: orangered;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */

.container {
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

/* Modal Events */

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  height: 30%;
  padding: 20px;

  background-color: beige;
}

.backdrop.backdrop-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* Delegations */

.tags-list {
  display: flex;
  gap: 10px;
}

.tags-btn {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;

  cursor: pointer;
}

.tags-btn--current {
  background-color: skyblue;
  color: white;
}

/* Chatty Events */

/* Filter */

.technology-wrap {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.technology-item {
  margin-bottom: 5px;
}

/* Notification */

.alert {
  position: absolute;
  top: 0;
  right: 20px;
  display: inline-block;
  padding: 30px;

  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms linear;
}

.alert.is-visible {
  opacity: 1;
}

/* NewsApi */

.search-form__input {
  max-width: 200px;
  padding: 5px;

  border: 2px solid skyblue;
  border-radius: 4px;

  font-size: 14px;
}
.search-form__input:focus {
  outline: 2px solid slategray;
  border: none;
}

.search-form__btn {
  margin-left: 10px;
  padding: 7px;

  font-weight: 600;
  background-color: skyblue;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.news-api__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumb {
  width: 250px;
  height: 120px;
  overflow: hidden;
}

.news-api__btn--is-hidden {
  display: none;
}
